.Container{
    margin: 0 auto;
}
.container h1{
    color: blue;
}
.container h5{
    color: rgb(6, 122, 168);
}
.content_1{
    background-color: rgba(165, 217, 238, 0.548);
    color: rgb(18, 160, 216);
    height: 20%;
    width: 25%;
    padding: 20px;
}
.content_2{
    background-color: rgb(4, 4, 36);
    width: 25%;
    padding: 13px;
    margin-top: 1%;
}