.mains{
    background-color:#e6f6ff;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.cards_1{
    position: relative;
    left: 30%;
    top: 10%;

}
.cards_3{
    position: relative;
    left: 30%;
    top: 10%;
}
.siz{
    height: 110px;
}
.cards_2{
    position: relative;
    top: 100%
}
button{
    background-color: rgb(51, 51, 236);
    border:rgb(51, 51, 236);
    position: relative;
    top: 43px;
    left: 660px;
    border-radius: 20px;
    padding: 5px;
}
.fon{
    font-family: 'Dancing Script';
    font-size: 30px;
}