.mains{
    background-color: skyblue;
    height: 90vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    color: white;
    padding: 25px;
}
h1{
    position: relative;
    top: 2%;
    left: 3%;
    color: white;
}
.place1{
    position: relative;
    top: 20px;
}
.place2{
    position: relative;
    right: 2%;
    top: 20px;
}
.place3{
    position: relative;
    right: 4%;
    top: 20px;
}


